@font-face {
    font-family: 'CustomFontBlack';
    src: url('fonts/Epilogue-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFontExtraLight';
    src: url('fonts/Epilogue-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

html, body {
    overflow-x: hidden;
}

.statusbar {
    width: 100%;
    height: 56px;
    background-color: #f5f5f5d0;
    display: none;
}

.header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #333333; 
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transition: background-color 0.3s ease;
}

.headermenu {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.headermenu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.closeicon {
    display: none;
}

.headerlogo {
    width: 189px;
    height: 32px;
    z-index: 150;
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%); 
    max-width: 402px; 
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    transition: transform 0.3s ease; 
    z-index: 5;
    padding-top: 96px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
    box-sizing: border-box; 
    overflow-y: auto; 
}

.opensidebar{
    transform: translateX(0);
}

.noscroll {
    overflow: hidden;
    height: 100vh;
}

.sidebarmedium{
    height: 200px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}

.sidebarsmall{
    height: 200px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}

.sidebarlarge{
    height: 170px;
    background-color: #F5F5F5;
    border-top: 2px solid #EEEEEE;
    box-sizing: border-box;
    position: relative;
}

.sidebartext {
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-size: 24px;
    font-weight: 700;
    font-family: CustomFontBlack, sans-serif;
}

.sidebarteklif {
    grid-column: span 2;
}

.about-page-main{
    padding-top: 76px;
}

.about-hero {
    padding-top: 26px; 
    min-height: calc(100vh - 100px);
    background-color: #333333; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 16px; 
    padding-right: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.about-hero-content {
    color: white; 
}

.about-main-title {
    font-family: CustomFontBlack, sans-serif;
    font-size: 48px; 
    font-weight: 700;
    margin: 0;
}

.about-subtitle {
    font-family: CustomFontBlack, sans-serif;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.7; 
    margin-top: 10px;
}

.founders-section {
    padding: 0px 16px; 
    padding-top: 48px;
    background-color: #ffffff;
}

.founders-title {
    font-family: CustomFontBlack, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.containerfounders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: CustomFontBlack, sans-serif;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
}

.accordion-item {
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-header {
    height: 54px;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    width: 368px;
    box-sizing: border-box;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
    background-color: transparent;
}

.accordion-header > span:first-of-type {
    flex-grow: 1; 
    font-size: 16px;
    color: #333;
}

.arrow {
    font-size: 12px;
    font-weight: 900;
    color: #777;
    transition: transform 0.3s ease;
}

.accordion-header.active {
    background-color: #000000;
    color: white;
}

.accordion-header.active > span {
    color: white;
}

.accordion-header.active .arrow {
    color: white;
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0px; 
    overflow: hidden;
    transition: opacity 0.2s ease-out, max-height 0.4s ease-in-out;
    background-color: white;
    margin: 0;
    border: none;
    padding: 0 20px;
    width: 280px;
    opacity: 0;
}

.accordion-content p {
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}

.accordion-content.active {
    max-height: 150px; 
    width: 280px;
    padding: 16px 20px;
    background-color: white; 
    border-radius: 0 0 8px 8px; 
    opacity: 1;
}

.maintextfounders {
    align-self: flex-start; 
}

