body{
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

.statusbar{
    width: 100%;
    height: 56px;
    background-color: #f5f5f5d0;
    display: none;
}

.header{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: transparent;
    bottom: 0;
    top: 0;
    position: sticky;
    z-index: 100;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.headermenu {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.headermenu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.closeicon {
    display: none;
}

.headerlogo{
    width: 189px;
    height: 32px;
    z-index: 101;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -402px;
    width: 402px;
    height: 100vh;
    background-color: #f5f5f5;
    transition: right 0.3s ease;
    z-index: 5;
    padding-top: 96px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
}

.opensidebar{
    right: 0;
}

.noscroll {
    overflow: hidden;
    height: 100vh; /*body’yi tamamen sabitlemek için */
}

.sidebarmedium{
    width: 200px;
    height: 200px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}

.sidebarsmall{
    width: 200px;
    height: 200px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}

.sidebarlarge{
    width: 400px;
    height: 260px;
    background-color: #F5F5F5;
    border-top: 2px solid #EEEEEE;
    box-sizing: border-box;
    position: relative;
}

.sidebartext{
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-size: 24px;
    font-weight: 700;
    font-family: CustomFontBlack, sans-serif;
}

.sidebarteklif{
    grid-column: span 2;
}

.bgeffect{
    display: block;
    z-index: -1;      
    width: 402px;      
    height: 100vh;     
    background-color: #000000d6;
}

