body{
    margin: 0;
    background-color: #f5f5f5;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%); 
    max-width: 402px; 
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    transition: transform 0.3s ease; 
    z-index: 5;
    padding-top: 96px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
    box-sizing: border-box; 
    overflow-y: auto; 
}

.opensidebar{
    transform: translateX(0);
}

.noscroll {
    overflow: hidden;
    height: 100vh;
}

.sidebarmedium{
    height: 200px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}

.sidebarsmall{
    height: 200px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}

.sidebarlarge{
    height: 200px;
    background-color: #F5F5F5;
    border-top: 2px solid #EEEEEE;
    box-sizing: border-box;
    position: relative;
}

.sidebartext{
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-size: 24px;
    font-weight: 700;
    font-family: CustomFontBlack, sans-serif;
}

.sidebarteklif{
    grid-column: span 2;
}


.header{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #f5f5f5d0;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.headermenu {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.headermenu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.closeicon {
    display: none;
}

.headerlogo{
    width: 189px;
    height: 32px;
    z-index: 101;
}

.help-button {
  font-family: 'CustomFontBlack', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #eee;
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.help-title-second {
  margin: 0;
  font-family: 'CustomFontBlack', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.buttonContainer{
    margin-top: 104px;
    padding: 0 24px;
    margin-bottom: 48px;
}

.contactwithusText{
    font-family: 'CustomFontBlack', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
    font-size: 32px;
}

.help-button:active {
  background-color: #DDDDDD;
  transition: ease-in-out 0.1s;
}

.timeContainer{
    padding: 0 24px;
}

.timeText{
    font-family: 'CustomFontBlack', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.dayRectangle{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0 30px;
    box-sizing: border-box;
    border-radius: 8px;
}

.dayRectangleText{
    color: #FFFFFF;
    font-family: 'CustomFontBlack', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.timeRectangleContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
    box-sizing: border-box;
    gap: 24px;
}

.timeRectangleNumbers{
    color: #000;
    font-family: 'CustomFontBlack', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 16px;
}

.timeRectangle{
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}

.footer {
    width: 100%;
    height: auto;
    background-color: rgba(218, 61, 47, 1);
    padding: 48px;
    box-sizing: border-box;
}


.footertoplogowhite{
    width: 200px;
    height: auto; 
    margin-bottom: 48px;
}

.footerbottomlogowhite{
    margin-top: 48px;
    justify-content: center;
    display: flex;
}

.interactionpanel{
    list-style-type: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: white;
    font-family: CustomFontBlack, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 24px;
    width: 147px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.footercontainer{
    display: grid;
    grid-template-columns: repeat(2, 147px);
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: start;
    gap: 48px 12px;
}

.interactionpanel li:nth-child(1){
    font-weight: 700;
    color: white;
    font-family: CustomFontBlack, sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 0px 12px;
    border-radius: 24px;
}

.interactionpanel li:hover{
    cursor: pointer;
}

.maintitleinpanel{
    background-color: #ffffff !important;
    color: #DA3D2F !important;
}

.formcontainer{
    display: flex;
    flex-direction: column;
}

.contactInputAlignment{
    display: flex;
}

.contactFormContainer{
    padding: 0 24px;
}

.verification-input {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  width: 100%;
  padding: 22px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #EEEEEE;
  margin-bottom: 8px;
  transition: all 0.5s ease-in-out;
  resize: none;
}

.verification-input {
    border: 2px solid transparent;
    transition: all 0.3s ease;
    color: #000000;
}



.verification-input.hidden-anim {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.verification-input:focus {
    border: 2px solid #000000 !important;
    outline: none;
    opacity: 1;
}

.verification-input:active {
    background-color: #DDDDDD !important;
    border-color: #DDDDDD !important;
    color: #000000 !important;
}

.verification-input:active::placeholder {
    color: #000000 !important;
    opacity: 1;
}

.verification-input:focus::placeholder {
    color: #000000 !important;
    opacity: 1;
}

.inputbig{
    height: 100px;
    padding: 16px;

}

.inputbig::placeholder{
    font-weight: 500;
    font-family: CustomFontBlack, sans-serif;
    display: flex;
    align-self: flex-start;
}

.contactMainTitle{
    font-family: CustomFontBlack, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 48px;
}

.contactTitle{
    font-family: CustomFontBlack, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 32px;
    color: #00000063;
}

.lawtext{
    font-family: CustomFontBlack, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-left: 8px;
}

.contactInputAlignment{
    margin-top: 24px;
    margin-bottom: 24px;
}

.colorizedtext{
    color: #DA3D2F;
}

.contactRadio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 20px;
    border: 2px solid #D0D0D0;
    border-radius: 50%; 
    background-color: #eee;
    margin: 0;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;
}

.contactRadio::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #DA3D2F;
    border: 3px solid white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

/* Seçildiğinde Dış Kutu */
.contactRadio:checked {
    background-color: #DA3D2F;
    border-color: #DA3D2F;
}

/* Seçildiğinde İç Kısım (Görünür Ol) */
.contactRadio:checked::before {
    transform: scale(1);
}

.contactFormButton{
    background-color: #DA3D2F;
    color: #FFFFFF;
    font-family: CustomFontBlack, sans-serif;
    border: none;
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 48px;
    border-radius: 8px;
    cursor: pointer;
}

.contactSocialMedia{
    padding: 0 24px;
}

.socialMediaTitle{
    font-family: CustomFontBlack, sans-serif;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}

.mediaButtonsAlignment{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.formSent {
    display: none;
    opacity: 0;
    transform: translateY(20px); 
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 8px;
    margin-bottom: 24px;
    transition: all 0.8s ease-in-out;
}

.formSent.active {
    opacity: 1;
    max-height: 300px;
    padding: 48px;
    border: 2px solid white;
    margin-bottom: 24px;
    transform: translateY(0);
}

.messageTitle{
    font-family: CustomFontBlack, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-top: 24px;
}