body{
    margin: 0;
    font-family: CustomFontBlack, sans-serif;
    background-color: #f5f5f5;
}

h1, p, h2, h3, h6{
    margin: 0;
}

a{
    text-decoration: none;
}

.searchContentHeader{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px 24px;
    justify-content: space-between;
}

.searchHeaderTitle{
    font-size: 24px;
    font-weight: 700;
}

.searchBar{
    padding: 0 24px;
}

.searchBarAlignment{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


.searchIcon{
    margin-left: 16px;
    margin-right: 6px;
}

.searchBarContainer {
    background-image: url('images/searchicon.svg'); 
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 45px; 
    width: 100%;
    height: 52px;
    border: 2px solid #eee;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-size: 16px;
    outline: none;
    color: #333;
}

.searchBarContainer:focus {
    border-color: #000000;
    background-image: url(images/searchiconblack.svg);
}

.searchBarContainer:focus::placeholder {
    opacity: 0;
}

.searchBarContainer::placeholder{
    font-weight: 700;
    font-family: 'CustomFontBlack', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.671);
    opacity: 0.67;
}

.suggestionBar{
    display: flex;
    padding: 0 24px;
    margin-top: 16px;
    flex-direction: column;
}

.suggestionBarContainer{
    padding: 14px 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
}

.suggestionBarText{
    font-family: CustomFontBlack, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.notFound{
    padding: 0 24px;
    margin-top: 16px;
}

.respondContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.help-button {
  font-family: 'CustomFontBlack', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #eee;
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  box-sizing: border-box;
  text-decoration: none;
}

.help-button:active {
  background-color: #DDDDDD;
  transition: ease-in-out 0.1s;
}

.help-title-second {
  margin: 0;
  font-family: 'CustomFontBlack', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.contactContainer{
    background-color: #f5f5f5;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.academyFilterContent{
    padding: 24px;
}

.academyFilterHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion {
    margin-bottom: 48px;
}

.accordion-item {
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-header {
    height: 54px;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    background-color: #eee;
    border-radius: 8px;
    width: 368px;
    box-sizing: border-box;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
    background-color: transparent;
}

.accordion-header > span:first-of-type {
    flex-grow: 1; 
    font-size: 16px;
    color: #333;
}

.arrow {
    width: 24px;
    height: 24px;
    display: block;
    align-self: center;
    transition: transform 0.3s ease, filter 0.2s ease;
    filter: invert(1) brightness(0.35);
}

.accordion-header.active {
    background-color: #000000;
    color: white;
}

.accordion-header.active > span {
    color: white;
}

.accordion-header.active .arrow {
    transform: rotate(180deg);
    filter: invert(0) brightness(1);
}

.accordion-content {
    max-height: 0px; 
    overflow: hidden;
    transition: opacity 0.1s ease-out, max-height 0.2s ease-in-out, padding 0.2s ease;
    background-color: #d5d5d5;
    margin: 0;
    border: none;
    padding: 0 20px;
    width: 280px;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.accordion-content p {
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}

.accordion-content.active {
    max-height: 150px; 
    width: 280px;
    padding: 16px 20px;
    background-color: white; 
    border-radius: 0 0 8px 8px; 
    opacity: 1;
    transition: opacity 0.1s ease-out, max-height 0.2s ease-in-out, padding 0.2s ease;
}

.filterButtonAlignment{
    margin-bottom: 16px;
}

.filterApplyButton {
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    align-items: flex-start;
    display: flex;
    align-items: center;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
}

.filterApplyButton.active {
    background-color: #DA3D2F;
    color: white;
    transition: ease-in-out 0.1s;
}

.academySaveButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.academySaveFilterButton{
    width: 100%;
    background-color: #DA3D2F;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 16px;
}
